html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: #EBE9DA;
}

.blog-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  height: 100%;
}

.main-content {
  display: grid;
  grid-template-rows: 120px 1fr;
}

.sidebar {
  display: grid;
  justify-content: center;
  align-items: center;
}

.header {
  display: grid;
  justify-content: center;
  align-items: center;
  color: #453E3E;
}

.byline {
  font-weight: lighter;
}