@layer tokens {
    :where(:root, :host) {
  --colors-primary:  #41424D;
  --colors-secondary: #FFFFFF;
  --colors-accent: #FFCD41;
  --fonts-inter: var(--font-inter);
  --fonts-knewave: var(--font-knewave);
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px
}
  }
  